<legend> Create Your Profile  </legend>
  <div class="row">
    <div class="col-xs-4">
       <addpicturepanel class="picture-upload-panel"></addpicturepanel>
    </div>
    <div class="mainview col-xs-12 col-md-8">
<form class="form" ng-submit = 'createUser()'>
    <fieldset >
        <p>
        <label> Name </label>
        <input type="text"
                id=txtName
                ng-model="name"
                value=""
                class="form-control"

                 /></p>
        <p>
        <label> Email </label>
        <input type="text"
                id="txtEmail"
                ng-model="email"
                value=""
                class="form-control"

                /></p>
        <p>
        <label> Username </label>
        <input type="text"
                id=txtUsername
                value=""
                class="form-control"
                ng-model="username" /></p>

        <p>
        <label>Confirm Password</label>
        <input type="password"
                id=pwdPassword
                placeholder="password"
                class="form-control"
                ng-model="password" /></p>
        <p>
        <label>Confirm Password</label>
        <input type="password"
                id=pwdPassword
                placeholder="confirm password"
                class="form-control"
                ng-model = "passwordConfirm"/></p>
        </fieldset>

</div>
</div>


    <fieldset>
    <legend> Profile Info (optional) </legend>
    <p>
    <label> Location </label>
    <input type="text"
            id="txtLocation"
            value=""
            size="20" /></p>
    <p>

    <label> How often do you trade? </label>
    <select id="selTradeActivity" ng-model="tradeFrequency">
         value="selNone" disabled selected>Please Select One</option>
        <option value="sel0_2">0-2 Trades Per Week</option>
        <option value="sel2_5">2-5 Trades Per Week</option>
        <option value="sel5_10">5-10 Trades Per Week</option>
        <option value="sel10-25">10-25 Trades Per Week</option>
        <option value="sel25_50">25-50 Trades Per Week</option>
        <option value="sel50+">50+ Trades Per Week</option></select></p>
      </p>
        <p>
            <label> What are you most interested in learning about? </label>
        </p>
          <table border="1">
            <tr>
              <td ng-repeat ="array in interests">
                <div ng-repeat="(i,interest) in array">
                  <label for="interest">{{interest.assetClass.title}}</label>
                  <select name="interest" ng-model="following[interest.assetClass.title]">
                    <option ng-repeat="number in numberArr()" ng-nodel="" value="{{number}}">{{number}}</option>
                  </select>
                </div>
              </td>
            </tr>
          </table>
        </fieldset>
        <button ng-click ='createUser()'>Create User</button>
    </form>
